/*---------------------- HEADER------------------- */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  h1{
    margin-bottom: 1%;
  }

  img {
    min-width: 10%;
    @media (max-width: 600px) {
      align-self: flex-end;
      width: 30%;
    }
  }
}

/*---------------------- LOCALISATION------------------- */
.container-info {
  position: absolute;
  top: 3px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* align-items: center; */
  h1{
    margin: 0;
    margin-bottom: 5px;
    color: #b59d00;
  }

  img {
    width: 2em;
    margin-right: 5px;
  }

  .localisation , .contact{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5%;
    ul {
      margin: 0;
      padding: 0;
      li {
        list-style-type: none;
      }
    }
  }
}

/*---------------BUTTON DOWNLOAD CV----------------------*/
.button {
  text-decoration: none;
  margin-bottom: 3%;
  line-height: 1;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.35em;
  padding: 0.75em 1em;
  padding-right: 1.25em;
  color: #fff;
  border: 1px solid transparent;
  font-weight: 700;
  border-radius: 2em;
  font-size: 1rem;
  box-shadow: 0 0.7em 1.5em -0.5em hsla(34, 79%, 37%, 0.745);
  transition: transform 0.3s;
  border-color: rgb(254, 208, 116);

  background: linear-gradient(
    90deg,
    rgb(208, 144, 54) 0%,
    rgb(254, 208, 116) 100%
  );
}

.button__icon {
  width: 1.5em;
  height: 1.5em;
}

.button:hover {
  border-color: #f4f5f2;
}

.button:active {
  transform: scale(0.98);
  box-shadow: 0 0.5em 1.5em -0.5em hsla(43, 62%, 51%, 0.745);
}


/*---------------------- SKILL BAR------------------- */
.skill-bar {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: #f3e6a2;
  border-radius: 70px;
  padding: 1%;
  margin: auto;
  width: 60dvw;
  @media (max-width: 600px) {
    width: 90dvw;
  }

  img {
    height: 4.5rem;
  }
}

/*---------------------- PROJECTS------------------- */
.presentation-project{
  h1{
    margin: 0;
    margin-top: 2%;
  }
  p{
    margin: 0;
    font-size: 0.8em;
    font-style: italic;
    color: #827a56;
    font-weight: 100;
  }

}
.container-projects {
  margin-top: 2%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;

  .project {
    border: thick double #f0e1c1;
    box-shadow: 5px 5px 5px rgb(188, 188, 184);
    margin-right: 5px;
    width: 30dvw;
    margin-bottom: 5%;
    padding: 1%;
    border-radius: 3%;
    overflow: hidden;
    h2 {
      text-align: center;
      color: rgb(95, 77, 4);
      font-weight: 800;
      margin: 0;
    }

    .picture-project {
      width: 30dvw;
      height: 300px;
      object-fit: cover;
      object-position: top;
    }

    .line-project {
      font-weight: 700;
      font-style: normal;
      color: #3e3601;
      border-bottom: solid 1px #eece01;
    }
  }
}

@media (min-width: 600px) and (max-width: 1030px) {
  .container-projects {
    grid-template-columns: 1fr 1fr;

    .project {
      width: 45dvw;
      .picture-project {
        width: 45dvw;
        height: 250px;
      }
    }
  }
}

@media (max-width: 599px) {
  .container-projects {
    grid-template-columns: 1fr;

    .project {
      width: 90dvw;
      .picture-project {
        width: 90dvw;
        height: 200px;
      }
    }
  }
}
